.container {
	display: flex;
	flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin: 10px 10px 10px 0px; */
    width: 100%;
    /* padding: 10px 10px; */
}

.singleFace {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 16px 5px;
    box-shadow:0 2px 6px 0px #e3cbcb;
    box-sizing: border-box;
    margin: 10px 20px 0px 0px;
}

.singleFace p:nth-child(2) span {
    font-size: 1em;
    color: green;
}

.singleFace:hover {
    box-shadow:0 2px 6px 0px #c2a7a7;
}

.faceInfo {
    /* border: 1px solid black; */
    /* width: 100%; */
    font-size: 0.8em;
    line-height: 0.3em;
    cursor:pointer;
    padding-left: 10px;
    /* flex-wrap: wrap; */
    padding-right: 10px;
    flex-direction: column
}

.image>img {
    border-radius: 50%;
}

@media (max-width: 1366px) {
    .singleFace {
        width: 90%;
        margin-left: 0px;
    }
    .container{
        width: 100%;
    }
}